@charset "utf-8";

body {
  background: #fafafa;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 700px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

.alert {
  margin: 0;
}

.complete {
  color: #9b9898;
  text-decoration: line-through;
}